/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
duplitron-worker.conf

/certs/*
*.pem

/storage/audfprint/*
!/storage/audfprint/afpt_cache
/storage/audfprint/afpt_cache/*
!/storage/audfprint/media_cache
/storage/audfprint/media_cache/*
!/storage/audfprint/pklz_cache
/storage/audfprint/pklz_cache/*
!*.gitkeep

*.DS_Store
